<!DOCTYPE html>
<h><%= "Site list for #{@search_term.upcase}" %></h>

<h4>Search by State:</h4>
<%= form_tag(waters_index_path, method: :get) do %>
<%= text_field_tag(:search, params[:search]) %>
<%= submit_tag("Search") %>
<% end %>

<table>
  <table border="1">
  <tr>
    <th>Site Name</th>
    <th>Lat</th>
    <th>Long</th>
  </tr>
<% @sites.each do |site| %>
  <tr class=<%= cycle('even', 'odd') %>>
    <td><%= site["sourceInfo"]["siteName"] %></td>
    <td><%= site["sourceInfo"]["geoLocation"]["geogLocation"]["latitude"] %></td>
    <td><%= site["sourceInfo"]["geoLocation"]["geogLocation"]["longitude"] %></td>
  </tr>
  <% end %>
</table>
